/*=====================
    Responsive CSS start
==========================*/

@media (min-width: 2500px) {
  .screenshot {
    background-size: unset;
  }
}

@media (min-width: 1367px) and (max-width: 1669px) {
  .screenshot-decor .screenshot-circle3 {
    bottom: 0;
    left: 50px;
    top: auto;
  }
}
@media (max-width: 1366px) {
  .screenshot {
    background-size: unset;
  }
  .screenshot-decor .screenshot-circle2 {
    top: 120px;
    right: 20%;
  }
  .screenshot-decor .screenshot-circle1 {
    top: 110px;
    right: 30%;
  }
  .screenshot-decor .screenshot-circle3 {
    left: 29%;
  }
}

@media (max-width: 1199px) {
  .mob-mocup {
    width: 248px;
    left: 355px;
  }
/* 
  section {
    padding-top: 80px;
    padding-bottom: 80px;
  } */

  .mobile-light-left {
    left: 35%;
  }
  .mobile-light-right {
    right: 35%;
  }
  @-webkit-keyframes highlight-left {
    0% {
      opacity: 0;
      top: 320px;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: -120px;
    }
  }
  @keyframes highlight-left {
    0% {
      opacity: 0;
      top: 320px;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: -120px;
    }
  }
  @-webkit-keyframes highlight-right {
    0% {
      opacity: 0;
      bottom: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      opacity: 0;
      top: 320px;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }
  @keyframes highlight-right {
    0% {
      opacity: 0;
      bottom: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      opacity: 0;
      top: 320px;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }
  .screenshot-decor .screenshot-circle1 {
    top: 30px;
    right: 25%;
  }
  .screenshot-decor .screenshot-circle2 {
    top: 70px;
    right: 13%;
  }
  .screenshot-decor .screenshot-circle3 {
    left: 19%;
    bottom: 0;
  }
  .team-block .team-social li a {
    padding: 5px;
  }
  @-webkit-keyframes movebounce {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(20px);
      transform: translateX(20px);
    }
    100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
  }
  @keyframes movebounce {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(20px);
      transform: translateX(20px);
    }
    100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
  }
}

@media (max-width: 1024px) {
  .mobile-light-left {
    left: 35%;
  }
  .mobile-light-right {
    right: 35%;
  }
  @-webkit-keyframes highlight-left {
    0% {
      opacity: 0;
      top: 330px;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: -120px;
    }
  }
  @keyframes highlight-left {
    0% {
      opacity: 0;
      top: 330px;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: -120px;
    }
  }
  @-webkit-keyframes highlight-right {
    0% {
      opacity: 0;
      bottom: 100px;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      opacity: 0;
      top: 330px;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }
  @keyframes highlight-right {
    0% {
      opacity: 0;
      bottom: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      opacity: 0;
      top: 330px;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }
}

@media (max-width: 992px) {
  section * {
    -webkit-animation: none !important;
    animation: none !important;
  }
  .mobile-light-right,
  .mobile-light-left {
    display: none;
  }
}

@media (max-width: 991px) {
	.d-medium-none-lg, .feature-phone {
		display: none;
	}
  .mob-mocup {
    width: 245px;
    left: 237px;
  }
  .screenshot-decor .screenshot-circle1 {
    right: 23%;
  }
  .screenshot-decor .screenshot-circle2 {
    right: 15%;
  }
  .d-medium-none-lg {
    display: none;
  }
  .mobile-light-left {
    left: 30%;
  }
  .mobile-light-right {
    right: 30%;
  }
  @-webkit-keyframes highlight-left {
    0% {
      opacity: 0;
      top: 350px;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: -140px;
    }
  }
  @keyframes highlight-left {
    0% {
      opacity: 0;
      top: 350px;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: -140px;
    }
  }
  @-webkit-keyframes highlight-right {
    0% {
      opacity: 0;
      bottom: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      opacity: 0;
      top: 350px;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }
  @keyframes highlight-right {
    0% {
      opacity: 0;
      bottom: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      opacity: 0;
      top: 350px;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }


}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
 
  .mobile-light-right {
    top: -150px;
  }
  @-webkit-keyframes highlight-left {
    0% {
      opacity: 0;
      top: 330px;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: -90px;
    }
  }
  @keyframes highlight-left {
    0% {
      opacity: 0;
      top: 330px;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: -90px;
    }
  }
  @-webkit-keyframes highlight-right {
    0% {
      opacity: 0;
      bottom: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      opacity: 0;
      top: 490px;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }
  @keyframes highlight-right {
    0% {
      opacity: 0;
      bottom: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      opacity: 0;
      top: 320px;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }

  .screenshot-decor .screenshot-circle3 {
    left: 0;
    bottom: 0;
  }

}

@media (max-width: 767px) {

  .mob-mocup {
    width: 280px;
    left: 128px;
  }

  .d-medium-none {
    display: none;
  }
  .mobile-light-left {
    left: 20%;
  }
  .mobile-light-right {
    right: 21%;
  }

  @-webkit-keyframes highlight-left {
    0% {
      opacity: 0;
      top: 380px;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: -120px;
    }
  }
  @keyframes highlight-left {
    0% {
      opacity: 0;
      top: 380px;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: -120px;
    }
  }
  @-webkit-keyframes highlight-right {
    0% {
      opacity: 0;
      bottom: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      opacity: 0;
      top: 370px;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }
  @keyframes highlight-right {
    0% {
      opacity: 0;
      bottom: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      opacity: 0;
      top: 370px;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }
  .team-block {
    padding: 30px;
  }
  .md-height {
    height: 200px;
  }
  .list-sidebar {
    margin-top: 50px;
  }
  .mb-xs-4 {
    margin-bottom: 1.5rem;
  }
  .animated-circle:before {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    bottom: 50px;
  }
  .animated-circle:after {
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 50px;
  }
  .animated-circle.three:before {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .animated-circle.three:after {
    display: none;
  }
  @-webkit-keyframes anim-effect-back {
    0% {
      -webkit-box-shadow: 0 0 0 20px #e0e0e0;
      box-shadow: 0 0 0 20px #e0e0e0;
      opacity: 1;
    }
    50% {
      -webkit-box-shadow: 0 0 0 50px #e0e0e0;
      box-shadow: 0 0 0 50px #e0e0e0;
      opacity: 1;
    }
    100% {
      -webkit-box-shadow: 0 0 0 70px #e0e0e0;
      box-shadow: 0 0 0 70px #e0e0e0;
      opacity: 1;
    }
  }
  @keyframes anim-effect-back {
    0% {
      -webkit-box-shadow: 0 0 0 20px #e0e0e0;
      box-shadow: 0 0 0 20px #e0e0e0;
      opacity: 1;
    }
    50% {
      -webkit-box-shadow: 0 0 0 50px #e0e0e0;
      box-shadow: 0 0 0 50px #e0e0e0;
      opacity: 1;
    }
    100% {
      -webkit-box-shadow: 0 0 0 70px #e0e0e0;
      box-shadow: 0 0 0 70px #e0e0e0;
      opacity: 1;
    }
  }
  @-webkit-keyframes anim-effect-front {
    0% {
      -webkit-box-shadow: 0 0 0 15px #e0e0e0;
      box-shadow: 0 0 0 15px #e0e0e0;
      opacity: 1;
    }
    50% {
      -webkit-box-shadow: 0 0 0 30px rgba(224, 224, 224, 0.6);
      box-shadow: 0 0 0 30px rgba(224, 224, 224, 0.6);
      opacity: 1;
    }
    100% {
      -webkit-box-shadow: 0 0 0 40px rgba(224, 224, 224, 0);
      box-shadow: 0 0 0 40px rgba(224, 224, 224, 0);
      opacity: 0;
    }
  }
  @keyframes anim-effect-front {
    0% {
      -webkit-box-shadow: 0 0 0 15px #e0e0e0;
      box-shadow: 0 0 0 15px #e0e0e0;
      opacity: 1;
    }
    50% {
      -webkit-box-shadow: 0 0 0 30px rgba(224, 224, 224, 0.6);
      box-shadow: 0 0 0 30px rgba(224, 224, 224, 0.6);
      opacity: 1;
    }
    100% {
      -webkit-box-shadow: 0 0 0 40px rgba(224, 224, 224, 0);
      box-shadow: 0 0 0 40px rgba(224, 224, 224, 0);
      opacity: 0;
    }
  }
  .margin-top-bottom {
    margin-top: 50px;
  }
  .demo-description {
    line-height: 20px;
  }
  .sm-d-none {
    display: none;
  }
  .coming-title {
    font-size: 22px;
  }
  .landing-title {
    margin-bottom: 0;
  }
  .border-shape-two {
    margin: 20px auto 10px;
  }
  .tapl-title {
    font-size: 24px;
  }
  .center-sm {
    text-align: center;
  }
  .price-feature li {
    padding: 5px;
  }
  .about-style li {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
  }
  .about-text p {
    text-align: left;
  }
  .testimonial-decor .testi-circle2 {
    bottom: 0;
  }
  .testimonial-carousel.owl-carousel button.owl-prev {
    left: -40px;
  }
  .testimonial-carousel.owl-carousel button.owl-next {
    right: -40px;
  }
  .about-contain > div {
    width: 100%;
    text-align: center;
  }
  .feature-decor .feature-circle1 {
    display: none;
  }
  .team .team-circle3 {
    display: none;
  }
  .blog-list > div + div .blog-item {
    margin-top: 40px;
  }
  .blog-text h6 {
    margin-top: 15px;
  }
  .blog-page .media h5 {
    font-size: 13px;
  }
  .video-play iframe {
    height: 280px;
  }
  .play-button img {
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 30px;
    width: 80px;
  }
  .mt-35 > div + div {
    margin-top: 40px;
  }
  .testimonial-avtar:after {
    display: none;
  }
  .testimonial-avtar:before {
    display: none;
  }
  .margin-bottom > div + div + div .review-box {
    margin-top: 30px;
  }
  .margin-bottom > div + div .review-box {
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  .margin-bottom > div .review-box {
    padding: 20px 15px;
  }
  .testimonial-text {
    -webkit-box-shadow: 0 0 10px 0 rgba(170, 170, 170, 0.25);
    box-shadow: 0 0 10px 0 rgba(170, 170, 170, 0.25);
  }
  .landing-circle {
    display: none;
  }
  .reply-comment .media img {
    width: 70px;
  }
  .sm-mb {
    margin-bottom: 15px;
  }
  .home-decor .home-circle3 {
    display: none;
  }
  .home-decor .home-circle2 {
    right: -56px;
  }
  .about-phone {
    display: none;
  }
  .team .team-circle1 {
    display: none;
  }
  .team .team-circle2 {
    display: none;
  }
  .team .team-circle3 {
    display: none;
  }
  .list-sidebar {
    margin-top: 50px;
  }
  @-webkit-keyframes anim-effct-testi {
    0% {
      -webkit-box-shadow: 0 0 0 8px #e0e0e0;
      box-shadow: 0 0 0 8px #e0e0e0;
      opacity: 1;
    }
    50% {
      -webkit-box-shadow: 0 0 0 15px rgba(224, 224, 224, 0.6);
      box-shadow: 0 0 0 15px rgba(224, 224, 224, 0.6);
      opacity: 1;
    }
    100% {
      -webkit-box-shadow: 0 0 0 25px rgba(224, 224, 224, 0);
      box-shadow: 0 0 0 25px rgba(224, 224, 224, 0);
      opacity: 0;
    }
  }
  @keyframes anim-effct-testi {
    0% {
      -webkit-box-shadow: 0 0 0 8px #e0e0e0;
      box-shadow: 0 0 0 8px #e0e0e0;
      opacity: 1;
    }
    50% {
      -webkit-box-shadow: 0 0 0 15px rgba(224, 224, 224, 0.6);
      box-shadow: 0 0 0 15px rgba(224, 224, 224, 0.6);
      opacity: 1;
    }
    100% {
      -webkit-box-shadow: 0 0 0 25px rgba(224, 224, 224, 0);
      box-shadow: 0 0 0 25px rgba(224, 224, 224, 0);
      opacity: 0;
    }
  }
  @-webkit-keyframes anim-effct-testi-back {
    0% {
      -webkit-box-shadow: 0 0 0 8px #e0e0e0;
      box-shadow: 0 0 0 8px #e0e0e0;
      opacity: 1;
    }
    50% {
      -webkit-box-shadow: 0 0 0 15px #e0e0e0;
      box-shadow: 0 0 0 15px #e0e0e0;
      opacity: 1;
    }
    100% {
      -webkit-box-shadow: 0 0 0 25px #e0e0e0;
      box-shadow: 0 0 0 25px #e0e0e0;
      opacity: 1;
    }
  }
  @keyframes anim-effct-testi-back {
    0% {
      -webkit-box-shadow: 0 0 0 8px #e0e0e0;
      box-shadow: 0 0 0 8px #e0e0e0;
      opacity: 1;
    }
    50% {
      -webkit-box-shadow: 0 0 0 15px #e0e0e0;
      box-shadow: 0 0 0 15px #e0e0e0;
      opacity: 1;
    }
    100% {
      -webkit-box-shadow: 0 0 0 25px #e0e0e0;
      box-shadow: 0 0 0 25px #e0e0e0;
      opacity: 1;
    }
  }
  .home-style-two .modal.video-play .modal-dialog {
    -webkit-transform: translate(0%, 0);
    transform: translate(0%, 0);
  }
  .home-style .modal.video-play .modal-dialog {
    -webkit-transform: translate(0%, 0);
    transform: translate(0%, 0);
  }
  .video-play iframe {
    height: 280px;
    width: 480px;
  }
  .about-style li {
    margin-bottom: 25px;
  }
  p.caption-about {
    margin-bottom: 22px;
  }
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 17px !important;
  }
  .price-carousel .owl-dots {
    margin-top: 17px !important;
  }
  .about-decor .about-circle2 {
    display: none;
  }
  .landing-circle2 img {
    display: none;
  }
  .about-contain > div {
    width: 100%;
    text-align: center;
  }
  .blog-text h3 {
    font-size: 14px;
  }
  .footer-text h2 {
    margin: 20px;
  }
  .animated-circle.three img {
    bottom: 20px;
  }
  .animated-circle.three:before {
    bottom: 38px;
  }
  .animated-circle.three:after {
    bottom: 38px;
  }
}

@media (max-width: 1024px) {
  .mob-mocup {
    display: none;
  }
  .screenshot-item {
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
  }

  @-webkit-keyframes highlight-left {
    0% {
      opacity: 0;
      top: 370px;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: -120px;
    }
  }
  @keyframes highlight-left {
    0% {
      opacity: 0;
      top: 370px;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: -120px;
    }
  }
  @-webkit-keyframes highlight-right {
    0% {
      opacity: 0;
      bottom: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      opacity: 0;
      top: 350px;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }
  @keyframes highlight-right {
    0% {
      opacity: 0;
      bottom: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      opacity: 0;
      top: 350px;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }

  section {
    -webkit-animation: none;
    animation: none;
  }
}

@media (max-width: 575.98px) {
  .screenshot {
    background-size: cover;
  }
}

@media (max-width: 480px) {
  .mobile-light-right {
    right: 20%;
  }
  @-webkit-keyframes highlight-left {
    0% {
      opacity: 0;
      top: 310px;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: -100px;
    }
  }
  @keyframes highlight-left {
    0% {
      opacity: 0;
      top: 310px;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: -100px;
    }
  }
  @-webkit-keyframes highlight-right {
    0% {
      opacity: 0;
      bottom: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      opacity: 0;
      top: 300px;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }
  @keyframes highlight-right {
    0% {
      opacity: 0;
      bottom: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      opacity: 0;
      top: 300px;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }
}

@media (max-width: 480px) and (max-width: 400px) {
  .mobile-light-left {
    display: none;
  }
  .mobile-light-right {
    display: none;
  }
  .feature-style p {
    font-size: 12px;
}
}

