.catalogue-container {
  border-radius: 10px;
  color: #586069;
  background-color: #fff;
  box-shadow: 0 0 36px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 320px !important;
  width: 30% !important;
  margin-right: 20px;
}
@media (min-width: 320px) {
  .catalogue-container {
    width: 100%;
  }
}
.catalogue-card {
  display: block;
  max-width: 328px;
  position: relative;
  background-color: transparent;
  border-radius: 4px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  height: 100%;
  box-shadow: 1px 2px 4px #9d9b97, 3px 4px 6px rgb(204 204 206 / 0%);
  padding: 2px;
  margin: 0px 10px 10px 8px;
}
.iNFEcI{
  padding: 10px 0px;
}

.catalogue-card:hover{
  background: #91e32f;
}
/* .catalogue-card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #91e32f;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.4s ease-out;
} */

.catalogue-card:hover::before {
  transform: scale(30);
}

.catalogue-card:hover > .small {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.catalogue-card:hover > h3 {
  transition: all 0.3s ease-out;
  color: #ffffff;
}

.catalogue-card-shadow {
  box-shadow: 1px 0px 20px #ffffff;
}

.catalogue-card img {
  width: 100%;
  height: 200px;
  margin: auto;
}
.w-100 {
  width: 100%;
}
.catalogue-title {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 14px;
  margin-top: 32px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.small {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 0px 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin: 19px 0px;
}
.my-2{
  padding: 0em 0px 1em 0px;
}
.chip{
  box-shadow: 1px 2px 4px #9d9b97, 3px 4px 6px rgb(204 204 206 / 0%);
    border-radius: 10px;
    padding: 2px 9px;
    background: lightgrey;
    margin: 0px 3px 0px 0px;
}
.gZZGni{
  padding: 2px;
}