.feature-phone {
  position: sticky;
  top: 100px;
  left: 229px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.feature-phone img {
  height: 571px;
}
@media (min-width: 992px) {
  .offset-lg-4 {
    margin-left: 33.333333%;
  }
}
.mt-4 {
  margin-top: 4% !important;
}
@media (max-width: 1366px) {
  .feature-phone img {
    width: 65%;
  }
}


.skills-heading span {
  font-weight: 700;
}

.feature-style {
  padding: 0;
  margin-bottom: 0;
}

.feature-style li {
  position: relative;
  margin-bottom: 45px;
}
.feature-icon {
  position: absolute;
  padding: 0;
  top: 0;
}

.feature-subtitle h3 {
  padding-left: 35px;
  margin-top: 8px;
  line-height: 28px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.feature-style p {
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.8em;
  font-size: 15px;
  color: #777;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}
